.rightBar {
    background-color: #101204;
    float: left;
    height: 100vh;
    margin: 0;
    width: 300px;
}

.header {
    color: #B6C2CF;
    font-size: 14px;
    margin-left: 7%;
    margin-top: 30px;
    width: 93%;
}

.newTerminalButton {
    background-color: #ffffff15;
    border: none;
    border-radius: 5px;
    color: #a3aeba;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    outline: none;
    width: 90%;
}

.newTerminalButton:active {
    outline: none;
}

.newTerminalButton p {
    float: left;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.newTerminalButton span {
    float: left;
    font-size: 15px;
    margin-top: 11px;
    margin-left: 10px;
}

.terminalCard {
    background-color: #22272B;
    border: none;
    border-radius: 5px;
    color: #a3aeba;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    outline: none;
    width: 90%;
}

.terminalCard:hover,
.newTerminalButton:hover {
    outline: solid 2px #579CFF;
}

.terminalCard:active {
    outline: none;
}

.statusContainer {
    background-color: #AE3025;
    border-radius: 3px;
    font-size: 13px;
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    text-decoration: none;
    width: min-content;
}

.titleContainer {
    font-size: 15px;
    float: left;
    margin-left: 10px;
    margin-top: 11px;
    text-decoration: none;
}

.titleInput {
    background-color: #22272B;
    border: solid 1px #738496;
    border-radius: 5px;
    color: #B3BFCC;
    height: 25px;
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    outline: none;
    padding-left: 10px;
    width: calc(94% - 10px);
}

.titleInput::placeholder,
.commandInput::placeholder {
    color: #B3BFCC;
}

.titleInput:focus,
.commandInput:focus {
    outline: solid 2px #579CFF;
}

.commandInput {
    background-color: #22272B;
    border: solid 1px #738496;
    border-radius: 5px;
    color: #B3BFCC;
    height: 25px;
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    outline: none;
    padding-left: 10px;
    resize: vertical;
    width: calc(94% - 10px);
}

.buttonContainer {
    float: left;
    margin-bottom: 10px;
    margin-left: 2.5%;
    width: calc(94% - 10px);
}

.createButton {
    background-color: #579CFF;
    border: none;
    border-radius: 5px;
    color: #1D2125;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.createButton:hover {
    background-color: #77B0FF;
}

.createButton:active {
    background-color: #85B8FF;
}

.cancelButton {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #B6C2CF;
    cursor: pointer;
    float: left;
    font-size: 17px;
    height: 30px;
    margin-left: 5px;
    width: 30px;
}

.cancelButton:hover {
    background-color: rgba(255, 255, 255, 0.186);
}